.nav {
  background-color: #f8f8f8;
  transition: background-color 0.5s linear;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav li {
  transition: background-color 0.3s ease;
}

.nav li:hover {
  background-color: #FFBA81;
  color: white;
}

@media (max-width: 400px) {
  .nav ul {
    text-align: center;
    flex-direction: column;
  }

  .nav li {
    display: block;
  }
}