.nav {
  background-color: #f8f8f8;
  transition: background-color 0.5s linear;
  margin-bottom: 32px;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 400px) {
  .nav ul {
    text-align: center;
    flex-direction: column;
  }
}